.hideScrollBar::-webkit-scrollbar {
  display: none;
}

.flexRow {
display:flex;
flex-direction: row;
}

.flexCol {
display:flex;
flex-direction: column;
}

.alignCenter {
align-items: center;
}

.justifyCenter {
justify-content: center;
}

.justifyAround {
justify-content: space-around;
}

.justifyEnd {
  justify-content: flex-end;
  }

.justifyBetween {
justify-content: space-between;
}

.alignSelfStart {
align-self:flex-start;
}

.alignSelfEnd {
align-self:flex-end;
}

.justifySelfStart {
justify-self:flex-start;
}

.justifySelfEnd {
 justify-self:flex-end;
}

.rowAll {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.colAll {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}